<div class="viewingNoteContainer">
    <div class="viewInfo">
        <h1>Let's Start</h1>
    </div>
    <div class="viewingNoteContainer">
        <div class="viewNoteCenter">
            <form action="/dashboard/newNote" method="POST">
                <div class="titleAndBody">
                    <div class="viewingNoteTitle">
                        <input type="text" id="title" name="title" placeholder="Title">
                    </div>
                    <div class="viewingNoteBody">
                        <textarea required type="text" id="body" name="body" placeholder="Take a Note..."
                            rows="16"></textarea>
                    </div>
                </div>
                <button type="submit" value="Save" class="updateButton">Save</button>
            </form>
        </div>
    </div>


</div>